<h2><%= @restaurant.name %> - <%= @restaurant.category %> - <%= link_to "Edit", edit_restaurant_path(@restaurant) %></h2>
<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %></li>
  <% end %>
</ul>
<p><%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %></p>
<ul>
  <% @reviews.each do |review| %>
    <li>(<%= review.rating %>) <%= review.content %> <%= link_to "destroy", review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>
